@page "{handler}/{item1=0}/{item2=0}"
@model Assignment_chapter_6.Pages.GcdLcmModel
@{
    ViewData["Title"] = "GcdLcm";
}
<div class="text-center">
    <h1>Welcome To GcdLcm Page </h1>
    <p>The @Model.Input.handler is @Model.result</p>
</div>