@page "{handler}/{item1?}/{item2?}/{item3?}"
@model Assignment_chapter_6.Pages.MinMaxModel
@{
    ViewData["Title"] = "MinMax";
}
<div class="text-center">
    <h1>Welcome To MinMax Page </h1>
    <p>The @Model.Input.handler is @Model.result</p>
</div>
