@page "{handler}/{item1=0}/{item2=0}/{item3=0}"
@model Assignment_chapter_6.Pages.SumMulModel
@{
    ViewData["Title"] = "SumMul";
}

<div class="text-center">
    <h1>Welcome To SumMul Page </h1>
    <p>The @Model.Input.handler give the following @Model.result</p>
</div>
